


<style>
    .container{
        display: flex;
        gap: 2px;
        flex-direction: column;
        position: fixed;
        background-color: blueviolet;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .table_title{
        display: flex;
        gap: 100px;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 10px;
    }
    .student{
        display: flex;
        gap: 20px;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 10px;
    }
    .info{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

        gap: 20px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 10px;
    }



</style>



<div class="container">
    <div class="head">
        <h2>MHS Bus Fee List</h2>
    </div>
    <div class="table_title">
        <div class="titles">
            S.No
        </div>
        <div class="titles">
            Student
        </div>
        <div class="titles">
            Village
        </div>
        <div class="titles">
            Total
        </div>
        <div class="titles">
            Paid
        </div>
        <div class="titles">
            Series
        </div>
    </div>
    <% var a=1 %>
    <div class="info">
        <% for(let [key,value] of Object.entries(student)){ %>
            <div>
                <%=a %>
            </div>
            <% a++ %>
            <div>
                <%=key %>
            </div>
            <% for(let i=1;i<=3;i++){ %>
                <div class="Student">
                    <%=value[0][i] %>
                </div>
            <% }; %>
            <div class="student">
                <%=value[1] %>
            </div>
            
        <% } %>
    </div>
    <div>
        <form action="/edit" method="POST">
            <input type="submit" value="Edit" />
        </form>
    </div>
</div>
