<form action="/submit" method="POST">
    <input type="text" name="Id_feedback" placeholder="First name" />
    <input type="password" name="password_feedback" placeholder="Last name" />
    <input type="submit" value="OK" />
</form>
